* {
    padding: 0;
    margin: 0;
    background: #333366;
    font-family: sans-serif;
}

#sidebar {
    position: fixed;
    width: 250px;
    background: #57626F;
    border-right: 4px solid #30d5c8;
    left: -255px;


    -moz-transition: all 490ms;
    -webkit-transition: all 490ms;
    transition: all 490ms;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li:first-child {
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child) {
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
}

#sidebar ul li a {
    color: #00FFFF;
    text-decoration: none;
}

#sidebar ul li a:hover {color: #333CCC}

#sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    top: 20px;
    background: #33ff33;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover {background: #556270}
#sidebar .toggle-btn:hover span {background: #339966}

#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background: #666;
    margin: 4px 0;
}
